.main-drop {
  background-color: rgba(234, 213, 213, 0.864);
  margin-top: 20px;
  display: none;
}

.block {
  display: block;
}

.main-drop h6 {
  width: 200px;
  cursor: pointer;
  padding: 10px;
}

.main-drop h6:hover {
  background-color: brown;
  color: white;
}

.btn:active,.btn:focus + .main-drop{
   display: block;
}

#dropdownToggle {
    display: none; /* Hide the checkbox */
  }

#dropdownToggle:checked + .btn + .main-drop {
    display: block;
  }

